# Created by .ignore support plugin (hsz.mobi)
/db.sqlite3
/concert/migrations
.idea
/media/node_modules
/media/*.png
/media/*.jpg
/media/*.jpeg
/static/ckeditor
/static/admin
/static/.DS_Store
*.pyc
/media/uploads
.DS_Store