
@font-face {
    font-family: "lintel-5";
    src: url("../fonts/Lintel/LintelMedium.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "lintel-6";
    src: url("../fonts/Lintel/LintelBold.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "lintel-7";
    src: url("../fonts/Lintel/Lintel ExtraBold.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "intro";
    src: url("../fonts/Intro.otf");
    font-weight: normal;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Lintel;
  margin-bottom: 170px;
}
@media (min-width: 960px){
  .container{
    width: 960px;
  }
  .carousel-inner{
    height: 500px;
    max-height: 500px;
  }
}
/*----------------------header-----------------------*/
header{
  margin-bottom: 100px;
  .top-nav{
    height: 90px;
    padding-top: 20px;
    .pull-left{
      span{
        font-size: 28px;
        text-align: center;
        /*font-family: "lintel-5";*/
        display: block;
        b{
          font-weight: bolder;
        }
      }
    }
    .pull-right{
      padding-top: 5px;
      .social{
        width: 120px;
        height: 30px;
        margin-right: auto;
        margin-left: auto;
        a:hover{
          i{
            height: 35px;
            background-color: #f05523;
          }
        }
        i{
          display: block;
          width: 30px;
          float: left;
          height: 30px;
          text-align: center;
        }
        .vk{
          background: url("../images/vk.png") center no-repeat;
          /*background-size: 100% 100%;*/
        }
        .fb{
          background: url("../images/fb.png") center no-repeat;
          /*background-size: 100% 100%;*/
        }
        .twit{
          background: url("../images/twit.png") center no-repeat;
          /*background-size: 100% 100%;*/
        }
        .inst{
          background: url("../images/inst.png") center no-repeat;
          /*background-size: 100% 100%;*/
        }
      }
    }
  }
  .black_nav{
    height: 35px;
    background-color: black;
    padding-top: 7px;
    .menu{
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      a{
        color: #fff;
        cursor: pointer;
      }
      a:hover{
        color: #f05523;
      }
      a:hover{
        text-decoration: none;
      }
      .active{
        color: #f05523;
      }
    }
    .logo{
      padding-left: 0;
      padding-right: 0;
      img{
        display: block;
        width: 100%;
        position: relative;
        top: -103px;
      }
    }
  }
  .w_nav{
    background-color: #fff;
    .menu{
      a{
        color: black;
      }
    }
  }
  .trans{
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/in_party.png");
    background-size: 100% 100%;
    height: 200px;
    width: 201px;
    z-index: 10;
    cursor: pointer;
  }
}
/*----------------------footer-----------------------*/

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: black;
  /*background: url("");*/
  .orange{
    height: 3px;
    background-color: #f05523;
  }
  .col-md-4{
    text-align: center;
    img{
      display: block;
      width: 100%;
    }
    span{
      display: block;
      text-align: center;
      color: rgba(255, 255, 255, 0.44);
      font-size: 26px;
      font-family: lintel;
    }
    span:first-child{
      margin-top: 40px;
    }
    .social{
      margin-top: 60px;
      width: 120px;
      height: 30px;
      margin-right: auto;
      margin-left: auto;
      a:hover{
        i{
          height: 35px;
          background-color: #f05523;
        }
      }
      i{
        display: block;
        width: 30px;
        float: left;
        height: 30px;
        text-align: center;
      }
      .vk{
        background: url("../images/vk_i.png") center no-repeat;
        /*background-size: 100% 100%;*/
      }
      .fb{
        background: url("../images/fb_i.png") center no-repeat;
        /*background-size: 100% 100%;*/
      }
      .twit{
        background: url("../images/twit_i.png") center no-repeat;
        /*background-size: 100% 100%;*/
      }
      .inst{
        background: url("../images/inst_i.png") center no-repeat;
        /*background-size: 100% 100%;*/
      }
    }
  }
}
/*----------------------content-----------------------*/
@media screen and (min-width: 768px){
  .carousel-caption {
      right: 20%;
      left: 20%;
      padding-bottom: 30px;
      top: 50%;
      .car_date{
        display: block;
        width: 52%;
        float: right;
      }
      .car_name{
        /*font-size: 92px;*/
        width: 100%;
        float: right;
        text-align: right;
      }
  }
}
.carousel-caption {
  font-family: 'intro';
  .car_date{
    font-size: 68px;
    background: black;
    o{
      font-size: 80px;
      color: #f05523;
    }
  }
  .car_name{
    font-size: 102px;
    color: #fff;
    /*width: 100%;
    float: right;
    text-align: right;*/
    a{
      color: #fff;
    }
    a:hover{
      text-decoration: none;
      color: #f05523;
    }
  }
}
.carousel{
  margin-bottom: 35px;
}
.event{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 25px;
  .date{
    text-align: center;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    p{
      margin-bottom: 0;
      line-height: 1;
      padding-left: 0;
      padding-right: 0;
    }
    .day{
      /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
      font-size: 58px;
      font-weight: bolder;
    }
    .mout{
      font-size: 28px;
      margin-bottom: 5px;
    }
    .time{
      color: #f05523;
      font-size: 34px;
      font-weight: bolder;
    }
  }
  .img_prew{
    padding-left: 0;
    padding-right: 0;
    max-height: 150px;
    overflow: hidden;
    img{
      display: block;
      width: 100%;
    }
  }
  .text_prew{
    .title{
      font-size: 58px;
      font-weight: bolder;
      color: black;
      cursor: pointer;
    }
    a:hover{
      font-size: 58px;
      color: #f05523;
      /*padding-bottom: 5px;*/
      border-bottom: 3px solid #f05523;
      text-decoration: none;
    }
    .preview{
      font-size: 24px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .price{
    font-size: 30px;
    font-weight: bolder;
    padding-top: 60px;
    padding-right: 0;
    p{
      margin-bottom: 0;
    }
  }
  .img_ticket{
    padding-right: 0;
    padding-top: 70px;
    a:hover{
      img{
        width: 80%;
      }
    }
  }
}
.about{
  .logo_about{
    margin-bottom: 15px;
    /*padding-left: 30px;*/
    height: 50px;
    background: url("../images/about.png") no-repeat 30px top;
  }
  .abo_img{
    img{
      width: 100%;
    }
  }
  .abo_text{
    p{
      padding-top: 15px;
      font-size: 28px;
      text-indent: 20px;
    }
  }
  .cir{
    margin-bottom: 15px;
    margin-top: 15px;
    height: 15px;
    background: url("../images/cir.png") no-repeat center top;
  }
  .raider{
    margin-bottom: 15px;
    background: url("../images/raider.png") no-repeat 15px top;
    height: 55px;
    cursor: pointer;
  }
}
.event_detail{
  padding-left: 0;
  padding-right: 0;
  h3{
    padding-left: 15px;
    font-size: 54px;
  }
  .block{
    height: 65px;
    background: #f05523;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 25px;
    .day{
      /*width: 50%;*/
      float: left;
      font-size: 68px;
      padding-top: 5px;
      font-weight: bolder;
    }
    .date{
      width: 50%;
      float: left;
      padding-top: 10px;
      padding-left: 5px;
      span{
        display: block;
      }
      span:first-child{
        font-size: 24px;
      }
      span:last-child{
        font-size: 30px;
        color: #fff;
      }
    }
    .social{
      padding-top: 15px;
      width: 120px;
      height: 30px;
      margin-right: auto;
      margin-left: auto;
      a:hover{
        i{
          height: 35px;
          background-color: #fff;
        }
      }
      i{
        display: block;
        width: 30px;
        float: left;
        height: 30px;
        text-align: center;
      }
      .vk{
        background: url("../images/vk.png") center no-repeat;
      }
      .fb{
        background: url("../images/fb.png") center no-repeat;
      }
      .inst{
        background: url("../images/inst.png") center no-repeat;
      }
    }
  }
  .image{
    img{
      width: 100%;
    }
  }
  .tickets{
    border-top: 3px solid #f05523;
    border-bottom: 3px solid #f05523;
    margin-top: 15px;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    .vip{
      margin-left: 15px;
    }
    a{
      margin-left: 5px;
    }
  }
  .comment{
    #vk_comments{
      max-width: 200px;
      width: 200px;
    }
  }
}

/*----------------------invert-----------------------*/
.invert{
  background-color: black;
  color: #fff;
  header{
    .top-nav{
      .pull-right{
        .social{
          a:hover{
            i{
              height: 35px;
              background-color: #f05523;
            }
          }
          .vk{
            background: url("../images/vk_i.png") center no-repeat;
          }
          .fb{
            background: url("../images/fb_i.png") center no-repeat;
          }
          .twit{
            background: url("../images/twit_i.png") center no-repeat;
          }
          .inst{
            background: url("../images/inst_i.png") center no-repeat;
          }
        }
      }
    }
    .black_nav{
      background-color: #fff;
      .menu{
        a{
          color: black;
        }
        a:hover{
          color: #f05523;
        }
        .active{
          color: #f05523;
        }
      }
    }
    .trans{
      background: url("../images/in_concert.png");
      background-size: 100% 100%;
    }
  }
  .carousel-caption {
    .car_date{
      /*background: none;*/
      o{
        /*color: #f05523;*/
      }
    }
    .car_name{
      /*font-size: 102px;*/
      /*width: 100%;
      float: right;
      text-align: right;*/
    }
  }
  .event{
    .text_prew{
      .title{
        color: #fff;
      }
    }
  }
  .about{
    .logo_about{
      background: url("../images/about_i.png") no-repeat 30px top;
    }
    .raider{
      background: url("../images/raider_i.png") no-repeat 15px top;
    }
  }
}
/*@media screen and (min-width: 768px){
  .invert{
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
        top: 10%;
        .car_date{
          display: block;
          width: 100%;
          float: none;;
          text-align: center;
          margin-bottom: 50px;
        }
        .car_name{
          font-size: 92px;
          width: 100%;
          float: none;;
          text-align: center;;
        }
    }
  }
}*/
/*----------------------mobile------------------------*/

@media (max-width: 399px){
  .event_detail{
    .comment{
      #vk_comments{
        display: none;
      }
    }
  }
}
@media (max-width: 767px){
  header{
    margin-bottom: 210px;
    .trans{
      /*position: static;*/
      top: 340px;
    }
    .top_nav{
      height: 110px;
    }
    .black_nav{
      margin-top: 20px;
      height: 230px;
      padding-top: 5px;
      /*height: 10vh;*/
      .menu{
        margin-bottom: 10px;
        a{
          border-left: 2px solid #f05523;
          border-right: 2px solid #f05523;
          padding-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
        }
        a:hover{
          background-color: #f05523;
          color: inherit;
        }
      }
      .logo{
        img{
          top: 0px;
          /*position: absolute;*/
          /*bottom: 0;*/
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .container{
    padding-left: 0;
    padding-right: 0;
  }
  .carousel-caption {
    /*font-family: 'intro';*/
    right: 20%;
    left: 10%;
    padding-bottom: 20px;
    top: 30%;
    .car_date{
      font-size: 38px;
        display: block;
        width: 80%;
        float: right;
      /*background: black;*/
      o{
        font-size: 50px;
        /*color: #f05523;*/
      }
    }
    .car_name{
      font-size: 72px;
      width: 100%;
      float: right;
      text-align: right;
    }
  }
  .event{
    border-bottom: 3px solid #f05523;
    padding-bottom: 15px;
    .col-xs-12{
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .date{
      margin-bottom: 10px;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 0;
      z-index: 10;
      left: 0;
      width: 90px;
      border-bottom: 3px solid #f05523;
      border-right: 3px solid #f05523;
      padding-bottom: 5px;
    }
    .img_ticket{
      padding-top: 65px;
    }
    .img_prew{
      max-height: 400px;
    }
  }
  .col-xs-12{
    padding-left: 0;
    padding-right: 0;
  }
  footer{
    height: 400px;
    padding-left: 0!important;
    padding-right: 0!important;
    .col-md-4{
      img{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .invert{
    .event{
      .date{
        background-color: black;
      }
    }
    header{
      .black_nav{
        .menu{
          a:hover{
            /*background-color: #f05523;*/
            color: inherit;
          }
        }
      }
    }
  }
  .event_detail{
    h3{
      text-align: center;
    }
    .image{
      margin-bottom: 15px;
    }
    .tickets{
      span{
        margin-left: auto!important;
        /*margin-right: auto;*/
        margin-bottom: 5px;
        padding-left: 20px;
        display: block;
      }
    }
    .text{
      img{
        width: 100%;
      }
    }
  }
  .about{
    padding-left: 10px;
    padding-right: 10px;
    .abo_text{
      /*float: left!important;*/
    }
    .abo_img{
      float: right!important;
    }
  }
}
@media(min-width: 768px) and (max-width: 959px){
  header{
    /*margin-bottom: 210px;*/
    .trans{
      top: 125px;
      height: 150px;
      width: 151px;
    }
    .black_nav{
      .logo{
        img{
          top: -78px;
        }
      }
    }
  }
  .carousel-caption {
    .car_date{
      font-size: 38px;
      o{
        font-size: 50px;
      }
    }
    .car_name{
      font-size: 72px;
    }
  }
  .event{
    border-bottom: 3px solid #f05523;
    padding-bottom: 10px;
    .text_prew{
      min-height: 200px;
    }
    .img_prew{
      max-height: 200px;
      /*overflow: hidden;*/
    }
    .price{
      text-align: right;
    }
    .img_ticket{
      padding-top: 67px;
      padding-left: 85px;
    }
    .date{
      padding-right: 0;
      margin-bottom: 10px;
    }
  }
  footer{
    height: 280px;
    padding-left: 0!important;
    padding-right: 0!important;
    .col-md-4{
      img{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media(min-width: 960px) and (max-width: 1200px){
  header{
    /*margin-bottom: 210px;*/
    .trans{
      top: 125px;
      height: 150px;
      width: 151px;
    }
  }
}
