{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12 col-xs-12 col-sm-12 about">
        <div class="col-md-12 col-xs-12 col-sm-12 logo_about">
{#            <img src="{{ MEDIA_URL }}images/about.png">#}
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_img">
            <img src="{{ MEDIA_URL }}images/o1.png">
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_text">
            <p>
                Своё название клуб получил от легендарного режиссера
                Стенли Кубрика, а стилевую концепцию его культового фильма
                "Заводной Апельсин" можно будет разглядеть в интерьерах площадки.
                Клуб "КубриК" включает в себя танцпол вместимостью 600 человек , V.I.P. балкон
                на 50 человек, а также малый зал, где всегда можно спокойно пообщаться
                за чашечкой кофе и насладиться авторскими коктейлями от искусных барменов.
            </p>
        </div>
        <span class="col-md-12 col-xs-12 col-sm-12 cir"></span>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 about">
        <div class="col-md-6 col-xs-12 col-sm-12 abo_text">
            <p>
                "КубриК" позиционируется как место, в котором автоматически
                погружаешься в атмосферу праздника. Это то пространство,
                которое объединяет абсолютно разных людей, вне зависимости
                от стиля жизни и социального положения, клуб собирает
                любителей качественного отдыха, ценящих комфорт и новые впечатления.
            </p>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_img">
            <img src="{{ MEDIA_URL }}images/o2.png">
        </div>
        <span class="col-md-12 col-xs-12 col-sm-12 cir"></span>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 about">
        <div class="col-md-6 col-xs-12 col-sm-12 abo_img">
            <img src="{{ MEDIA_URL }}images/o2.png">
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_text">
            <p>
                "КубриК, ты уникален!" - говорят о новом месте организаторы.
                Качественный звук и современный свет, удобное расположение
                в самом сердце исторического Петербурга на Конюшенной пл., 2 (во дворе),
                своя парковка, демократичная атмосфера, насыщенная интересными
                именами афиша, - у клуба, бесспорно, есть все шансы стать
                традиционным местом встречи петербуржцев и любимой концертной площадкой для Артистов.
            </p>
        </div>
        <span class="col-md-12 col-xs-12 col-sm-12 cir"></span>
        <div class="col-md-12 col-xs-12 col-sm-12 raider"></div>
    </div>
{% endblock %}