{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12 col-xs-12 col-sm-12 about">
        <div class="col-md-12 col-xs-12 col-sm-12 logo_about">
{#            <img src="{{ MEDIA_URL }}images/about.png">#}
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_img">
            <img src="{{ MEDIA_URL }}images/o1.png">
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_text">
            <p>
                Своё название клуб получил от легендарного режиссера
                Стенли Кубрика, а стилевую концепцию его культового фильма
                "Заводной Апельсин" можно будет разглядеть в интерьерах площадки.
                Клуб "КубриК" включает в себя танцпол вместимостью 600 человек , V.I.P. балкон
                на 50 человек, а также малый зал, где всегда можно спокойно пообщаться
                за чашечкой кофе и насладиться авторскими коктейлями от искусных барменов.
            </p>
        </div>
        <span class="col-md-12 col-xs-12 col-sm-12 cir"></span>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 about">
        <div class="col-md-6 col-xs-12 col-sm-12 abo_text">
            <p>
                "КубриК" позиционируется как место, в котором автоматически
                погружаешься в атмосферу праздника. Это то пространство,
                которое объединяет абсолютно разных людей, вне зависимости
                от стиля жизни и социального положения, клуб собирает
                любителей качественного отдыха, ценящих комфорт и новые впечатления.
            </p>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_img">
            <img src="{{ MEDIA_URL }}images/o2.png">
        </div>
        <span class="col-md-12 col-xs-12 col-sm-12 cir"></span>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 about">
        <div class="col-md-6 col-xs-12 col-sm-12 abo_img">
            <img src="{{ MEDIA_URL }}images/o2.png">
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 abo_text">
            <p>
                "КубриК, ты уникален!" - говорят о новом месте организаторы.
                Качественный звук и современный свет, удобное расположение
                в самом сердце исторического Петербурга на Конюшенной пл., 2 (во дворе),
                своя парковка, демократичная атмосфера, насыщенная интересными
                именами афиша, - у клуба, бесспорно, есть все шансы стать
                традиционным местом встречи петербуржцев и любимой концертной площадкой для Артистов.
            </p>
        </div>
        <span class="col-md-12 col-xs-12 col-sm-12 cir"></span>
        <div class="col-md-4 col-xs-12 col-sm-4 raider" data-toggle="modal" data-target="#myModal"></div>
            <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Технический райдер клуба Кубрик</h4>
              </div>
              <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Specifications</th>
                            <th>Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P.A.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Loudspeakers:</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Electro-Voice TX2152</td>
                            <td>1000W RMS/4000W peak</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Subwoofers:</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Electro-Voice TX2181</td>
                            <td>1000W RMS/4000W peak</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Amplifiers:</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Electro-Voice Q1212</td>
                            <td>1200W/4ohm, 750W/8ohm</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Loudspeakers Management System:</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Electro-Voice DC-One</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>FOH</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Allen & Heath QU-32</td>
                            <td>38 channel digital mixing console</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Allen & Heath GLD-AR2412</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Multicore</td>
                            <td>12 input channels</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Drums</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Drumcraft Series 7 Progressive</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Bass Drum</td>
                            <td>22" x 18"</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Rack Tom</td>
                            <td>10" x 8"</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Rack Tom</td>
                            <td>12" x 9"</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Floor Tom</td>
                            <td>16" x 14"</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Cymbal Stands</td>
                            <td></td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>HI-HAT Stand</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Snare Stand</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Drum throne Gibraltar 9608</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Backline</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Marshall DSL100H	</td>
                            <td> 100W Guitar Head, 2 ch	</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> MARSHALL MG412ACF	</td>
                            <td> 120W 4X12 Angled Cabinet	</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Ampeg SVT 7 PRO	</td>
                            <td> 1000W Bass Head	</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> AMPEG HSVT-810E  Heritage	</td>
                            <td> 800W 8Х10 4ohm Bass Cabinet	</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Stands:	</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Microphone stand Proel PRO200BK	</td>
                            <td></td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Microphone short stand 	</td>
                            <td></td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Electro guitar stand	</td>
                            <td></td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Acustic guitar stand	</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Single keyboard Stands	</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Double keyboard stand	</td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Direct-Box:	</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> dbx dB-12	</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Microphones</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> Sennheiser e600 Series Drum Case 	</td>
                            <td> drum microphones	</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> SHURE SM58S 	</td>
                            <td> vocal microphone	</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> SHURE SM57-LCE	</td>
                            <td> instumental microphone	</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Shure SM81	</td>
                            <td> instumental microphone	</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}