<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Kubrik club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/fav.png" type="image/png">
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/fav.png">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <div class="trans" id="trans" name="concert"></div>
        <div class="container top-nav">
            <div class="col-md-4 pull-left col-xs-12 col-sm-4">
                <span>пт-вс 19:00-23:00</span>
                <span><b>+7 921 905 65 88</b></span>
            </div>
            <div class="col-md-4 pull-right col-xs-12 col-sm-4">
                <div class="social">
                    <a href="https://vk.com/kubriklub" target="_blank"><i class="vk"></i></a>
                    <a href="https://www.facebook.com/kubriklub" target="_blank"><i class="fb"></i></a>
                    <a href="https://www.instagram.com/kubrik_club/" target="_blank"><i class="inst"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-12 black_nav">
            <div class="container">
                <div class="menu col-md-2 col-xs-6 col-sm-2">
                    {% url 'about' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='О клубе'  %}
                </div>
                <div class="menu col-md-2 col-xs-6 col-sm-2">
                    {% url 'index' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='Концерты' id='irl'  %}
                </div>
                <div class="logo col-md-4 col-xs-12 col-sm-4">
                    <img id="logo" src="{{ MEDIA_URL }}images/logo.png">
                </div>
                <div class="menu col-md-2 col-xs-6 col-sm-2">
                    {% url 'partner' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='Партнеры'  %}
                </div>
                <div class="menu col-md-2 col-xs-6 col-sm-2">
                    {% url 'contact' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='Контакты'  %}
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for item in object_list %}
                    <div class="item">
                        <img src="{{ MEDIA_URL }}{{ item.preview_image }}" alt="{{ item.title }}">
                        <div class="carousel-caption">
                            <span class="car_date"><o>{{ item.datetime.day }}</o> {{ item.datetime|date:"E" }}</span>
                            <p class="car_name"><a href="{% url 'event_view' item.pk %}">{{ item.title }}</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer col-xs-12 col-sm-12">
        <div class="orange"></div>
        <div class="container">
            <div class="col-md-4 col-xs-12 col-sm-6">
                <img src="{{ MEDIA_URL }}images/logo.png">
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
                <span>Санкт-Петербург</span>
                <span>Конюшенная пл.,2, м.Невский проспект</span>
                <span>пт-вс 19:00-23:00</span>
                <span><b>+7 921 905 65 88</b></span>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="social">
                    <a href="https://vk.com/kubriklub" target="_blank"><i class="vk"></i></a>
                    <a href="https://www.facebook.com/kubriklub" target="_blank"><i class="fb"></i></a>
{#                    <a href="#" target="_blank"><i class="twit"></i></a>#}
                    <a href="https://www.instagram.com/kubrik_club/" target="_blank"><i class="inst"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}js/_app.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
</body>
</html>