{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12 col-xs-12 col-sm-12 event_detail">
        <h3>{{ event.title }}</h3>
        <div class="col-md-12 col-xs-12 col-sm-12 block">
            <div class="col-md-4 col-sm-4 col-xs-6 datetime">
                <div class="day">{{ event.datetime.day }}</div>
                <div class="date">
                    <span>{{ event.datetime|date:"E" }}</span>
                    <span>{{ event.datetime.time }}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <a href="http://vk.com/share.php?url=http://kubrik.club" target="_blank"><i class="vk"></i></a>
                    <a href="http://www.facebook.com/sharer.php?u=http://kubrik.club&t={{ event.title }}" target="_blank"><i class="fb"></i></a>
{#                    <a href="#" target="_blank"><i class="twit"></i></a>#}
{#                    <a href="https://www.instagram.com/kubrik_club/" target="_blank"><i class="inst"></i></a>#}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6 image pull-right">
            <img src="{{ MEDIA_URL }}{{ event.preview_image }}">
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ event.video_link }}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 tickets">
            <span>Вход: {{ event.ticket_price }} pуб.
                <a href="{{ object.ticket_link }}" target="_blank"><img class="ticket" src="{{ MEDIA_URL }}images/ticket.png"></a>
            </span>
            <span class="vip">VIP: {{ event.ticket_vip_price }} pуб.
                <a href="{{ event.ticket_link }}" target="_blank"><img class="ticket" src="{{ MEDIA_URL }}images/ticket.png"></a>
            </span>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 text">
            {{ event.full_desc_ck|safe }}
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comment">
            <!-- Put this script tag to the <head> of your page -->
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

            <script type="text/javascript">
              VK.init({apiId: 5303812, onlyWidgets: true});
            </script>

            <!-- Put this div tag to the place, where the Comments block will be -->
            <div id="vk_comments"></div>
            <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "*"});
            </script>
        </div>
    </div>
{% endblock %}