{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12 event">
        <div class="col-md-1 date">
            <p class="day">20</p>
            <p class="mout">июля</p>
            <p class="time">19:30</p>
        </div>
        <div class="col-md-3 img_prew">
            <img src="{{ MEDIA_URL }}images/sl.png">
        </div>
        <div class="col-md-5 text_prew">
            <a class="title">Jayline</a>
            <p class="preview">
                После презентации альбома «Бесконечность», в феврале 2016 группа представит новое шоу «КОНЦЕРТ ПО ЗАЯВКАМ».
            </p>
        </div>
        <div class="col-md-2 price">
            <p class="ticket">Вход: 800 pуб.</p>
            <p class="ticket_vip">VIP: 1800 pуб.</p>
        </div>
        <div class="col-md-1 img_ticket">
            <img src="{{ MEDIA_URL }}images/ticket.png">
        </div>
    </div>
    {% for object in object_list %}
        <div class="col-md-12 event" data-toggle="{{ object.event_type }}">
            <div class="col-md-1 date">
                <p class="day">{{ object.datetime.day }}</p>
                <p class="mout">{{ object.datetime.month }}</p>
                <p class="time">{{ object.datetime.time }}</p>
            </div>
            <div class="col-md-3 img_prew">
                <img src="{{ MEDIA_URL }}{{ object.preview_image }}">
            </div>
            <div class="col-md-5 text_prew">
                <a class="title">{{ object.title }}</a>
                <p class="preview">{{ object.preview_text }}</p>
            </div>
            <div class="col-md-2 price">
                <p class="ticket">Вход: {{ object.ticket_price }} pуб.</p>
                <p class="ticket_vip">VIP: {{ object.ticket_vip_price }} pуб.</p>
            </div>
            <div class="col-md-1 img_ticket">
                <a href="{{ object.ticket_link }}" target="_blank"><img class="ticket" src="{{ MEDIA_URL }}images/ticket.png"></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}